*{
   background:  linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    max-width: 600px;
}
header{
    min-height: 55vh;
    width: 100%;
    background-image: url("./assets/img/studentsbg.png");
    background-position: center; 
    background-size: cover;


}
header > div {

    background:#c5192d;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    color: white;
}
body > header > div >p {
    
    background:#c5192d;
}

main{
   
    box-shadow:0px 0px 1px 0px darkgrey;
    background: whitesmoke;
    
}
h1{
    font-family: Montserrat,sans-serif;
    font-size: 4rem;
    background:#c5192d;
}
h2{
    
    font-size: 2.2rem;
}
h3{
    font-family: Montserrat,sans-serif;
    
}
p{
    max-width: 70ch;
    line-height: 1.5em;
    font-size: 1.2rem;
}

#intro-container{
    margin-top: 80px;
    margin-left: 30px;
    padding: 10px;
    background:#c5192d;
   position:relative;

}
#intro-container>div{
 
   display: inline;
    width: 50%;
    height: 50%;
   
}
#intro-container>div>h2{
    background:#c5192d;
  
}
    
    
    
   

#intro-container > div > p{
    background:#c5192d;
    height: 50%;
    width: 50%;
    
   
}
#intro-container>div>ul{
    

    box-shadow:0px 0px 1px 0px darkgrey;
    background: whitesmoke;
    width: 50%;
    height: 100%;
    display: inline;

    right: 0px;
    top: 0px;
    position: absolute;
}

#intro-container>div>ul>li{
   
    box-shadow:0px 0px 1px 0px whitesmoke;
    background: whitesmoke;
    margin: 10px;
    padding: 0px;
}

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
  }

li {
    padding-left: 1rem;
    text-indent: -0.7rem;
    
  }

  ul li:nth-child(1)::before {
    content: "\1F64C" ;;
    width: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  ul li:nth-child(2)::before {
    content: "\1F3EB" ;
    width: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  ul li:nth-child(3)::before {
    content: "\1F4DA";
    width: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
  
}

article {
    margin-top: 2rem;
    columns: 2;
}

article img{
    width: 100%;
}
footer{                    
    background: #c5192d;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    color: white;

}
footer p{
    background: #c5192d;  
}
footer a{
    color: inherit;
    background: #c5192d;  
}



